<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despesas e Receitas ao Longo dos Meses</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div style="width: 50%; margin: auto;">
        <canvas id="expensesIncomingsChart" width="400" height="200"></canvas>
    </div>


<script src="../../assets/js/component/grafico-linhas-desp.js"></script>

</body>
</html>
